<p><strong>It looks like you're not allowed to access this interface.</strong></p>
<p>Please ask the administrator to add your e-mail address to the list of allowed addresses, and <a href="<%= root_url %>">try logging in</a> again.</p>
<p>For the record, this is the e-mail address we received from your login service: <code>"<%= @email %>"</code></p>