body { padding-top: 70px; }

#footer-container {
  margin: 20px 0 0 0;
  background-color: #eee;
  height: 50px;
}

footer {
  padding: 15px 0 15px 0;
}

.gcm-registration-id {
  white-space: pre-wrap;
}
